.equipment{
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px;
  box-sizing: border-box;
  background: aliceblue;
  margin-left: 10px;
  border-radius: 10px;
  .equipmentTitle{
    width: 100%;
    padding: 10px 20px;
    background: #1789ff52;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #cdd7fdcc;
    font-size: 18px;
    font-weight: 600;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .equipmentList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .wrapperForm{
      width: 100%;
      margin: 15px;
      .addForm{
        background: #d7e9fb;
        border-radius: 5px;
        width: 300px;
        padding: 10px 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        .title{
          font-weight: 500;
          padding: 10px 0;
        }
        label{
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          input{
            border: 0;
            padding: 5px;
            border-radius: 2px;
            margin-left: 10px;
          }
        }
        button{
          padding: 8px;
          border: none;
          font-weight: 600;
          background: #03d657;
          color: white;
          cursor: pointer;
          border-radius: 10px;
          margin-top: 10px;
          transition: .2s;

          &:hover{
            background: #03bd50;
          }
        }
      }
    }

    .item{
      padding: 10px;
      //background: #f1f7fd;
      border: 1px solid #1789ff52;
      margin: 5px;
      max-width: 200px;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      //font-weight: normal;
      .buttons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 8px;
        .btn{
          cursor: pointer;
          background: #03d657;
          padding: 6px;
          color: white;
          float: left;
          border-radius: 10px;
          border: 1px solid #6cb9612e;
          transition: .2s;
          user-select: none;
          &:hover{
            background: #03bd50;
          }
        }
      }

      .name{
        word-break: break-word;
        .count{
          font-weight: 600;
        }
      }

    }
    .buildBlock{
      padding: 5px 20px;
      .blockTitle{
        font-weight: 500;
        border-bottom: 1px dashed #72ff8a8c;
        padding-bottom: 4px;
      }
      .blockEquipmentList{
        padding-left: 10px;
      }
    }
  }


}